@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

:root {
  --base-background: transparent !important;
  --littlemenu-over: #000000 !important;
  --timeline-text-color: #ffffff;
  --pagination-color: #e7d5f4 !important;
  --timeline-text-over: #ffffff !important;
  --timeline-text-highlight: #29c9c6 !important;

  --timeline-font: Times;
  --meta-font: "Merriweather";
  --meta-margins: 50px;
  --track-height: 60px;
}

.track {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 19px !important;
  text-shadow: 2px 2px black !important;
  text-transform: none;
}

#tracktopicos {
  text-align: center !important;
  width: 60% !important;
  height: 60px !important;
  top: auto;
  bottom: 3px !important;
  left: 20% !important;
  text-align: center !important;
  font-size: 24px !important;
  text-shadow: 2px 2px black !important;
  font-family: "Times New Roman", Times, serif !important;
  text-transform: uppercase;
}

#indice {
  color: #8e59b4 !important;
}
