:root {
  --bg-color: #ffa312;
  --line-separator: #ffffff;
  --text-color: #4e6a6c;
  --color-link: #ffffff;
  --color-hover: #eac7bb;

  --input-text: #ffffff;

  --scroll-track: #ffffff00;
  --color-shadow: #ffffff55;
}
#poeinst {
  background: var(--bg-color);
}

#ativapoe {
  top: 15px !important;
}

#ativapoe:hover #buttombase {
  fill: #ce4f38 !important;
}

.categoria {
  border-bottom: 1px solid #ffffff55;
}
