:root {
  --bg-color: #5c5c5c;
  --line-separator: #9b9b9b;
  --text-color: #42e9ff;
  --color-link: #c4c4c4;
  --color-hover: #ffffff;
  --input-text: #ffffff;
  --scroll-track: #ffffff00;
  --color-shadow: #00000055;
}

#poeinst {
  background: var(--bg-color);
}
