:root {
  --bg-color: #372b24;
  --line-separator: #3b7683;
  --text-color: #9b593a;
  --color-link: #5e7b81;
  --color-hover: #d2eaff;
  --input-text: #cfeceb;
  --scroll-track: #ffffff00;
}
#poeinst {
  background: var(--bg-color);
}
