:root {
  --bg-color: #5b4952;
  --line-separator: #1fd2ff;
  --text-color: #3fd1db;
  --color-link: #eac7ba;
  --color-hover: #eac7bb;

  --input-text: #f79684;

  --scroll-track: #ffffff00;
  --color-shadow: #00000055;
}
#poeinst {
  background: var(--bg-color);
}

#ativapoe {
  top: 15px !important;
}

#ativapoe:hover #buttombase {
  fill: #ce4f38 !important;
}
