:root {
  --bg-color: #55355e;
  --line-separator: #713c80;
  --text-color: #e74ff0;
  --color-link: #cea2da;
  --color-hover: #d333ff;
  --input-text: #f0dfff;
  --scroll-track: #ffffff00;
  --color-shadow: #00000055;
}
#poeinst {
  background: var(--bg-color);
}
