:root {
  --bg-color: #8e7510;
  --line-separator: #766615;
  --text-color: #ffbc00;
  --color-link: #ffffff;
  --color-hover: #800381;
  --input-text: #ffffff;
  --scroll-track: #ffffff00;
  --color-shadow: #00000055;
}

#poeinst {
  background: var(--bg-color);
}
