@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

:root {
  --base-background: transparent !important;
  --littlemenu-over: #000000 !important;
  --timeline-text-color: #d7d7d7;
  --timeline-text-over: #11eade !important;
  --timeline-text-highlight: #29c9c6 !important;
  --timeline-font: "VT323";
  --meta-font: "VT323";
  --meta-margins: 50px;
  --track-height: 45px;
}

.track {
  font-size: 26px !important;
  text-shadow: 2px 2px black !important;
}

.track a {
  border-bottom: 1px solid white !important;
  font-weight: normal;
}

.track a:hover {
  padding: 4px 12px 7px 10px !important;
  margin: -4px -12px -4px -10px !important;
}

#indice {
  color: black !important;
  top: calc(100vh - 34px - var(--inclui-scroll, 0px)) !important;
}

#prev {
  top: calc(100vh - 33px - var(--inclui-scroll, 0px));
}

#next {
  top: calc(100vh - 33px - var(--inclui-scroll, 0px));
}

.slidewrap {
  width: 99.9299vw !important;
}
